@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Editing Title/Paragraph Format */
h2 {
    font-size: 250%;
    color: #FFA500;
    margin-top: 60px;
}
h3 {
    font-size: 200%;
    color: #fff;
}
hr {
    background: #ff8c00;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 1px;
    margin: 5px auto;
    width: 20%;
}
p {
    text-align: center;

}
/* Fix background scrolling */
html, body {
    height: 100%;
}
.sect {
    height: 20%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.subSection {
    height: auto;
    background-color: #fff;
}
.sectOne {
background-image: url("img/coffee2.jpg");
position: relative;
}
.sectTwo {
background-image: url("img/coffee1.jpg")
}
.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sectThree {
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("img/google-map.png");
}

/* Nav Bar */
.navbar-brand {
    padding-top: 5px;
    margin-top: -12px;
}
.navbar {
  background: #fff;
  border-bottom-color: #FFA500;
  border-bottom-width: 60%;
  position: justify;
}
ul.nav a {
    color: rgba(0,0,0) !important;
    text-align: center;
}
ul.nav a:hover {
    color: #FFA500 !important;
}
.navbar-header {
    padding-top: 15px;
}

 /* Stop Nav Bar Overlapping */
  body {
    padding-top: 74px;
  }

/* Slider */
#myCarousel {
    margin-top: -20px;
}

/* About me */
.title {
    text-align: center;
}

/* Skills */
.icon-class i {
    color: #FF8C00;
    font-size: 350%;
    padding: 6%;
}
.icon-class-js i {
    color: #ff8c00;
    font-size: 330%;
    padding: 6%;
}

/* Contact Form */
.transparent{
       background:rgba(0,0,0,0.3) !important;
       color: #fff
}
.contact-text {
    color: #fff;
}  
.buts {
    background: #FF8C00;
    color: #fff;
    margin-bottom: 10px;
}
.trade {
    background: #fff;
    text-align: center;
}
label {
    color: #fff;
}


