@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Editing Title/Paragraph Format */

h2 {
    font-size: 250%;
    color: #FFA500;
    margin-top: 60px;
}
h3 {
    font-size: 120%;
}
h4{
    font-size: 150%;
    padding-top: 10px;
    text-decoration: underline;
}
h5 {
    font-size: 150%;
}
p {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 120%;

}
.body-skills {
    padding-top: 20px;
}
.project {
    padding-top: 20px;
}
.half-rule {
    border:none;
    border-bottom: 2px solid #FF8C00;
    display: block;
    padding-top: -2px;
    padding-bottom: -1px;
    margin: 5px auto;
    width: 25%;
}

/* Fix background scrolling */
html, body {
    height: 100%;
}
.sect {
    height: 20%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.subSection {
    height: auto;
    background-color: #fff;
}
.sectOne {
background-image: url("img/coffee2.jpg");
position: relative;
}
.sectTwo {
background-image: url("img/coffee1.jpg")
}
.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sectThree {
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("img/google-map.png");
}

/* Nav Bar */
.brand-image {
    height: 35px;
    width: 120px;
    margin: 0 auto;
    margin-top: -15px; 
}
.navbar {
  background: #fff;
  border-bottom-color: #FFA500;
  border-bottom-width: 60%;
  position: justify;
  padding: -5px; 
}
ul.nav a {
    color: rgba(0,0,0) !important;
    text-align: center;
    padding-top: 20px;
}
ul.nav a:hover {
    color: #FFA500 !important;
}
.navbar-header {
    padding-top: 15px;
}

 /* Stop Nav Bar Overlapping */
  body {
    padding-top: 74px;
  }

/* Slider */
#myCarousel {
    margin-top: -20px;
}
.carousel-content {
  position: absolute;
  bottom: 25%;
  left: 45%;
  z-index: 20;
  color: white;
  font-size: 300%;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/* About me */
.title {
    text-align: center;
}

/* Skills */
.icon-class i {
    color: #FF8C00;
    font-size: 300%;
    padding: 6%;
}
.icon-class-js i {
    color: #ff8c00;
    font-size: 300%;
    padding: 6%;
}

/* Contact Form */
.transparent{
       background:rgba(0,0,0,0.3) !important;
       color: #fff
}
.contact-text {
    color: #fff;
}  
.buts {
    background: #FF8C00;
    color: #fff;
    margin-bottom: 10px;
}
.trade {
    background: #fff;
    text-align: center;
}
label {
    color: #fff;
}
.send-btn {
    margin-bottom: 10px;
}


